.contenedor-secuencial {
  padding: 20px;
  text-align: center;
  color: white;
}
/* Resalta la fila actualmente comparada */
.resaltado {
    background-color: #ffe27a !important;
    animation: vibrar 0.25s linear infinite;
    font-weight: bold;
}

/* Suavizar el fondo cuando deja de estar activa */
table tr:not(.resaltado) {
    transition: background-color 0.4s ease;
}

/* Efecto "vibración" suave */
@keyframes vibrar {
    0% { transform: translateX(0); }
    25% { transform: translateX(1px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(-1px); }
    100% { transform: translateX(0); }
}

.opciones {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.panel-controles {
  margin-bottom: 15px;
}

.panel-controles input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #bbb;
  margin-right: 8px;
}

.bloques-horizontal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.bloque {
  border: 2px solid #aaa;
  border-radius: 8px;
  padding: 10px;
  background: #fafafa;
  box-shadow: 2px 2px 5px #ccc;
  min-width: 100px;
}

.titulo-bloque {
  background: #d8c7ff;
  font-weight: bold;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.tabla-bloque {
  width: 100%;
  border-collapse: collapse;
}

.tabla-bloque td {
  border: 1px solid #aaa;
  padding: 4px;
  font-weight: 600;
  text-align: center;
  background-color: white;
}

.panel-archivos {
  margin-top: 15px;
}
.tabla-estructura {
  border-collapse: collapse;
  margin: 25px auto;
  width: 60%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  background-color: #ffffff;
}

.tabla-estructura th {
  background-color: #c3dab8;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.tabla-estructura td {
  border: 1.5px solid #999;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.25s ease;
  color: black;
}