#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background: linear-gradient(-45deg, #a389b8, #c3dab8, #afd8df, #743b5c);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.titulo {
  font-size: 5rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeSlide 1.5s ease forwards;
  font-family: cursive;
  color: rgb(232, 229, 238);
}
@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.botones {
  margin-right: 10px;
  background-color: #afd8df;  
  color: rgb(0, 0, 0);              
  padding: 10px 18px;          /* espacio interno */
  border: none;                /* sin borde duro */
  border-radius: 8px;          /* esquinas redondeadas */
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0); /* sombra sutil */
  transition: all 0.3s ease;
}

.botones:hover {
  background-color: #8ac5cf;  /* un poco m치s oscuro al pasar */
  transform: translateY(-2px); /* peque침o efecto de elevaci칩n */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.mensaje {
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeSlide 1.5s ease forwards;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(250, 248, 248);
}
@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenedor {
  background-color: rgba(39, 40, 41, 0.85); /* negro semi-transparente */
  border-radius: 15px;                   /* bordes redondeados */
  padding: 2rem;                         /* espacio interno */
  margin: 2rem;                          /* margen externo */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* sombra elegante */
  max-width: 7000px;                     /* ancho m치ximo */
}

.volver{
    padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #75379b;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background 0.3s;
}
.busqueda-contenedor {
  text-align: center;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  font-family: 'Gill Sans', 'Lucida Sans', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.panel {
  background: #283038;
  padding: 18px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
}

.panel h3 {
  margin-bottom: 12px;
  color:  #c3dab8; /* tu verde clarito */
}

.grupo-botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}





